include README.md
include LICENSE
recursive-include flagsense *.py

exclude flagsense/**/*.pt
exclude flagsense/**/*.pth
exclude flagsense/**/*.jpg
exclude flagsense/**/*.jpeg
exclude flagsense/**/*.png
exclude *.pt

# Avoid accidental packaging of build artifacts
exclude dist/*
exclude build/*